package views

import "github.com/iypetrov/goshop/web/templates"
import "github.com/iypetrov/goshop/web/templates/components"

templ Home(userID string) {
   @templates.Base() {
            <h1>Gosho with id { userID } </h1>
            @components.BuyButton()
   }
}
