package views

import  (
    "github.com/iypetrov/goshop/web/templates"
    "github.com/iypetrov/goshop/web/templates/components"
)

templ Home(baseURL string, userID string) {
   @templates.Base() {
        <h1>This is the home page of GOSHOP</h1>
        <p><a href={ templ.SafeURL(fmt.Sprintf("%s%s%s", baseURL, "/user", userID)) }>View your account</a></p>
   }
}
