package views

import (
    "fmt"
    "github.com/iypetrov/goshop/web/templates"
)

templ Register(baseURL string) {
    @templates.Base() {
        <p><a href={ templ.SafeURL(fmt.Sprintf("%s%s", baseURL, "/auth/google")) }>Register with Google</a></p>
        <p><a href={ templ.SafeURL(fmt.Sprintf("%s%s", baseURL, "/auth/github")) }>Register with GitHub</a></p>
        <p><a href={ templ.SafeURL(fmt.Sprintf("%s%s", baseURL, "/auth/facebook")) }>Register with Facebook</a></p>
    }
}

