package components

import "github.com/iypetrov/goshop/web/templates"

templ BuyButton(version string) {
    @templates.Base() {
        <button type="button"
                class="bg-red-500 rounded-md"
                hx-get="/health-check">Buy Now
        </button>
    }
}
